<div class="max-w-3xl mx-auto p-6 font-sans">
  <!-- Header Section -->
  <div class="max-w-3xl mx-auto p-6 font-sans">
    <!-- Header Section with Image and Info Side-by-Side -->
    <div
      class="flex flex-col items-center md:flex-row md:items-start border-b pb-6 mb-6 space-y-4 md:space-y-0 md:space-x-6"
    >
      <!-- Image Section -->
      <img
        src="assets/avatar.jpg"
        alt="Profile Image"
        class="w-24 h-24 rounded-full object-cover border-4 border-gray-300 shadow-lg md:w-32 md:h-32"
      />

      <!-- Info Section -->
      <div class="text-center md:text-left">
        <h1 class="text-3xl font-bold">Abhijith Mahipal Malappuram</h1>
        <p class="text-gray-600">Full Stack Developer</p>
        <div class="mt-4 text-sm space-y-2">
          <div
            class="mt-4 text-sm grid grid-cols-1 gap-y-2 md:grid-cols-2 md:gap-x-6"
          >
            <!-- Column 1 -->
            <div class="flex items-center space-x-2">
              <i class="fas fa-envelope text-blue-600"></i>
              <a href="mailto:abhijithmahipal@gmail.com" class="text-blue-600"
                >abhijithmahipal@gmail.com</a
              >
            </div>
            <div class="flex items-center space-x-2">
              <i class="fas fa-phone text-blue-600"></i>
              <span>+91 9400722590</span>
            </div>

            <!-- Column 2 -->
            <div class="flex items-center space-x-2">
              <i class="fas fa-map-marker-alt text-blue-600"></i>
              <span>Chennai, India</span>
            </div>
            <div class="flex items-center space-x-2">
              <i class="fab fa-linkedin text-blue-600"></i>
              <a
                href="https://linkedin.com/in/abhijithmahipal"
                class="text-blue-600"
                >LinkedIn Profile</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Summary Section -->
  <div class="mb-6">
    <h2 class="text-xl font-semibold mb-2">Summary</h2>
    <p class="text-gray-700">
      Experienced Full Stack Developer with 6+ years in Angular, along with 3
      years each in Node.js and .Net backend. Strong skills in building web
      applications, feature additions, and debugging complex applications, with
      a commitment to technical best practices and maintainability.
    </p>
  </div>

  <!-- Work Experience Section -->
  <div class="mb-6">
    <h2 class="text-xl font-semibold mb-2">Work Experience</h2>

    <!-- Job 1 -->
    <!-- Job 1 -->
    <div class="mb-4">
      <h3 class="font-semibold">Senior Software Engineer</h3>
      <div class="flex items-center space-x-2">
        <span class="text-blue-600 font-medium">Applied Materials</span>
        <a
          href="https://www.appliedmaterials.com"
          target="_blank"
          class="text-gray-500 hover:text-blue-600"
        >
          <i class="fas fa-external-link-alt text-sm"></i>
        </a>
      </div>
      <p class="text-sm text-gray-600">Oct 2020 - Present</p>
      <ul class="text-gray-700 mt-2 space-y-1">
        <li class="flex items-start space-x-2">
          <i class="fas fa-users text-blue-600"></i>
          <span
            >As the senior developer in a three-person team, collaborated with
            the product owner to translate requirements into product
            enhancements.</span
          >
        </li>
        <li class="flex items-start space-x-2">
          <i class="fas fa-code text-blue-600"></i>
          <span
            >Developed and maintained a complex web product in Angular and
            Node.js, serving as the user interface for an in-house automation
            suite.</span
          >
        </li>
        <li class="flex items-start space-x-2">
          <i class="fas fa-check-circle text-blue-600"></i>
          <span
            >Led Test-Driven Development efforts, ensuring 99% code coverage
            with the Jest framework for both backend and frontend
            development.</span
          >
        </li>
        <li class="flex items-start space-x-2">
          <i class="fas fa-book text-blue-600"></i>
          <span
            >Provided feature articles and walkthrough videos, conducted code
            reviews, ensured team adherence to best practices, and
            identified/addressed technical debt for enhanced product
            maintainability.</span
          >
        </li>
        <li class="flex items-start space-x-2">
          <i class="fas fa-rocket text-blue-600"></i>
          <span
            >Upgraded the product seamlessly from Angular 7 to Angular 13 to
            incorporate new features and stay current with advancements.</span
          >
        </li>
        <li class="flex items-start space-x-2">
          <i class="fas fa-cogs text-blue-600"></i>
          <span
            >Managed the CI/CD pipeline, facilitated multiple version releases,
            and automated repetitive tasks through scripting.</span
          >
        </li>
        <li class="flex items-start space-x-2">
          <i class="fas fa-trophy text-blue-600"></i>
          <span
            >Contributed to Agile development, actively participating in sprints
            and sharing Scrum Master responsibilities.</span
          >
        </li>
      </ul>
    </div>

    <!-- Job 2 -->
    <div>
      <h3 class="font-semibold">Software Engineer I</h3>
      <div class="flex items-center space-x-2">
        <span class="text-blue-600 font-medium"
          >Valorem Reply Private Limited</span
        >
        <a
          href="https://valoremreply.com/"
          target="_blank"
          class="text-gray-500 hover:text-blue-600"
        >
          <i class="fas fa-external-link-alt text-sm"></i>
        </a>
      </div>
      <p class="text-sm text-gray-600">Jan 2018 - Oct 2020</p>
      <ul class="text-gray-700 mt-2 space-y-1">
        <li class="flex items-start space-x-2">
          <i class="fas fa-user-graduate text-blue-600"></i>
          <span
            >Joined as a fresher, contributed to various projects from scratch
            and midway, predominantly using Angular, .NET Web API, SQL Server,
            and Azure. Ensured pixel-perfect design integration while adhering
            to accessibility rules.</span
          >
        </li>
        <li class="flex items-start space-x-2">
          <i class="fas fa-laptop-code text-blue-600"></i>
          <span
            >Developed and maintained an Angular web app for Microsoft, focused
            on partner nominations for workshops and funding management.
            Primarily responsible for front-end enhancements and design
            integration.</span
          >
        </li>
        <li class="flex items-start space-x-2">
          <i class="fas fa-project-diagram text-blue-600"></i>
          <span
            >Contributed to the full software development lifecycle for a
            financial planning and recording system, utilizing Angular 8, .NET
            Core 3.1, SQL Server, and Azure infrastructure and services.</span
          >
        </li>
        <li class="flex items-start space-x-2">
          <i class="fas fa-tools text-blue-600"></i>
          <span
            >Developed an internal web application handling resource, project,
            training, and travel request management using Angular 7 and
            .NET.</span
          >
        </li>
      </ul>
    </div>
  </div>

  <!-- Skills Section -->
  <div class="mb-6">
    <h2 class="text-xl font-semibold mb-2">Skills</h2>
    <div class="grid grid-cols-2 gap-2 text-gray-700">
      <div>Frontend: Angular, HTML, CSS, SCSS, Tailwind, Angular Material</div>
      <div>Backend: Node.js, Express, Nest.js, .Net Core</div>
      <div>Database: SQL Server, Basics of MongoDB</div>
      <div>Testing: Jest, Jasmine, TDD</div>
      <div>Others: CI/CD, Jenkins, Jira, Bitbucket, Agile</div>
    </div>
  </div>

  <!-- Education Section -->
  <div>
    <h2 class="text-xl font-semibold mb-2">Education</h2>
    <div class="text-gray-700">
      <h3 class="font-semibold">Government Engineering College, Palakkad</h3>
      <p class="text-sm">
        Bachelor of Technology in Computer Science - 7.5 GPA
      </p>
      <p class="text-sm text-gray-600">May 2017</p>
    </div>
  </div>
</div>
